.abt-btn{
    background:#fff;
    color: #3f51b5;
}
.toolbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
}
.toolbar span{
  display: flex;
  
}
